* {
  margin: 0;
  padding: 0;
}

body {
  background-color: floralwhite;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #3c3c3c;
}

header {
  width: 90%;
  margin: 2rem auto;
  /* background-color: antiquewhite; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  font-size: 2rem;
}

h1 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.logo > span {
  margin: -5px;
}

.utstilling {
  color: green;
}

.num {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: normal;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.back {
  text-decoration: none;
  color: #3c3c3c;
}

.back:hover {
  color: #189418;
}

main {
  width: 80%;
  margin: auto;
}

.studentlist {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.versionOne {
  background-color: white;
  border-radius: 0.5rem;
  width: 22rem;
  text-align: center;
  overflow: hidden;
}

.versionOne .cardContainer {
  width: 100%;
  height: 8rem;
  overflow: hidden;
}

.versionOne .cardBg {
  width: 100%;
  margin-top: -5rem;
}

.versionOne .pfpContainer {
  height: 9rem;
  width: 9rem;
  margin: -6rem auto;
  border-radius: 50%;
  background-color: aliceblue;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.versionOne .pfpContainer:hover {
  height: 10rem;
  width: 10rem;
  margin-top: -7rem;
  cursor: pointer;
}

.versionOne .pfpContainer:hover .pfp {
  height: 12rem;
  margin-top: -0.5rem;
}

.versionOne .pfp {
  height: 10rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.versionOne h2 {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.versionOne h2:hover {
  cursor: pointer;
  color: #189418;
}

.versionOne .info {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.versionOne .notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.versionOne button {
  border: none;
  width: 70%;
  background-color: #189418;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.versionOne button:hover {
  background-color: #0c6e0c;
}

.versionTwo {
  position: relative;
  margin-bottom: 1rem;
}

.versionTwo .pfpContainer {
  height: 15rem;
  width: 15rem;
}

.versionTwo .pfpContainer .pfp {
  height: 15rem;
}

.versionTwo .pfpContainer .filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.versionThree {
  position: relative;
  height: 27rem;
  border: 2px solid antiquewhite;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.versionThree .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.versionThree button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  background-color: #c9d8b5;
  color: #689b4c;
  margin: 0 .2rem .3rem 0;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.versionThree button:hover {
  background-color: #a8b695;
  color: #3d741f;
}

.versionThree .pfpContainer {
  height: 18rem;
  width: 18rem;
}

.versionThree .pfpContainer .pfp {
  height: 18rem;
}

.versionFour {
  position: relative;
  cursor: pointer;
}

.versionFour .pfpContainer {
  height: 15rem;
  width: 15rem;
}

.versionFour .pfpContainer .pfp {
  height: 15rem;
}

.versionFour .pfpContainer .filter {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.versionFour .pfpContainer .filter:hover {
  -webkit-backdrop-filter: grayscale(0%);
          backdrop-filter: grayscale(0%);
}
/*# sourceMappingURL=style.css.map */