$dark: rgb(60, 60, 60);
$lightgreen: rgb(24, 148, 24);

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: floralwhite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: $dark;
}

header {
    width: 90%;
    margin: 2rem auto;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 2rem;
}
h1 {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.logo > span {
    margin: -5px;
}
.utstilling {
    color: green;
}
.num {
    font-family: ohno-blazeface, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: end;
}
.back {
    text-decoration: none;
    color: $dark;
    &:hover {
        color: $lightgreen;
    }
}
main {
    width: 80%;
    margin: auto;
}
.studentlist {
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.versionOne {
    background-color: white;
    border-radius: 0.5rem;
    width: 22rem;
    text-align: center;
    overflow: hidden;

    .cardContainer {
        width: 100%;
        height: 8rem;
        overflow: hidden;
    }
    .cardBg {
        width: 100%;
        margin-top: -5rem;
    }
    .pfpContainer {
        height: 9rem;
        width: 9rem;
        margin: -6rem auto;
        border-radius: 50%;
        background-color: aliceblue;
        overflow: hidden;
        display: grid;
        justify-content: center;
        transition: all 0.2s ease-in-out;

        &:hover {
            height: 10rem;
            width: 10rem;
            margin-top: -7rem;
            cursor: pointer;
            .pfp {
                height: 12rem;
                margin-top: -0.5rem;
            }
        }
    }
    .pfp {
        height: 10rem;
        transition: all 0.2s ease-in-out;
    }
    h2 {
        transition: all 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $lightgreen;
        }
    }
    .info {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .notes {
        display: flex;
        gap: 0.8rem;
    }
    button {
        border: none;
        width: 70%;
        background-color: $lightgreen;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        margin: 1rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
            background-color: rgb(12, 110, 12);
        }
    }
}
.versionTwo {
    position: relative;
    margin-bottom: 1rem;
    .pfpContainer {
        height: 15rem;
        width: 15rem;
        .pfp {
            height: 15rem;
        }
        .filter {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
        }
    }
}
.versionThree {
    position: relative;
    height: 27rem;
    border: 2px solid antiquewhite;
    padding: 3rem;
    display: flex;
    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    button {

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        border: none;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
        background-color: #c9d8b5;
        color: #689b4c;
        margin: 0 .2rem .3rem 0;
        transition: all .1s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: #a8b695;
            color: #3d741f;
        }
    }
    .pfpContainer {
        height: 18rem;
        width: 18rem;
        .pfp {
            height: 18rem;
        }
    }
}
.versionFour {
    position: relative;
    cursor: pointer;
    .pfpContainer {
        height: 15rem;
        width: 15rem;
        .pfp {
            height: 15rem;
        }
        .filter {
            height: 100%;
            width: 100%;
            backdrop-filter: grayscale(100%);
            position: absolute;
            top: 0;
            transition: all 0.3s ease-in-out;
            &:hover {
                backdrop-filter: grayscale(0%);
            }
        }
    }
}
